<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

 <!-- 
      Use the Oracle XSQL Servlet to process documents with the .xsql and .xml
      Extensions
 -->
     
 <servlet>
   <servlet-name>oracle-xsql-servlet</servlet-name>
   <servlet-class>oracle.xml.xsql.XSQLServlet</servlet-class>
 </servlet>


 
 <servlet-mapping>
     <servlet-name>oracle-xsql-servlet</servlet-name>
     <url-pattern> *.xml </url-pattern>     
 </servlet-mapping>
 <servlet-mapping>
      <servlet-name>oracle-xsql-servlet</servlet-name>
      <url-pattern> *.xsql </url-pattern>     
 </servlet-mapping>
 
 <security-constraint>
    <web-resource-collection>
      <web-resource-name>Bookmark Secure Zone</web-resource-name>
      <url-pattern>/brian/bookmarks/secure/*</url-pattern>
      <http-method>DELETE</http-method>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>bookmarks</role-name>
    </auth-constraint>
  </security-constraint>

  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Bookmark Secure Zone</realm-name>
  </login-config> 

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.xml</welcome-file>
    <welcome-file>index.xsql</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  


</web-app>
